

.registration {
  padding-top: 100px;
  background: rgba(150, 141, 152, 0.881); height: 100vh;
}
.imgholder {
  text-align: center;
  margin-bottom: 50px;
}
.imgholder img {
  width: 100px;
}

.main{
display: flex;
}
.left{
width: 20%;
}
.right{
width: 80%;
}
.sidebar{
background:rgba(150, 141, 152, 0.881);
height: 100vh;
}


.sidebar a {
  text-decoration: none;
  display: block;

}
.offcanvas.offcanvas-bottom.show {
    background: rgba(150, 141, 152, 0.88) !important;
    height: 100vh !important;
}







